<% content_for :title, "Heatmap" %>
<% content_for :turbo_cache_control, "no-cache" %>

<script type="application/json" id="heatmap-svelte-root-props"><%= json_escape({ initial: @heatmap_payload }.to_json) %></script>
<div id="heatmap-svelte-root"></div>
<%= svelte_bundle_tags(:heatmap) %>

<noscript>
  <h1>Logical Heatmap</h1>
  <div class="data-table-wrap table-wrap">
    <table class="data-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Events</th>
          <th>Average Signal dBm</th>
        </tr>
      </thead>
      <tbody>
        <% if @locations.any? %>
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.location_id %></td>
              <td><%= location.event_count %></td>
              <td><%= number_with_precision(location.avg_signal_dbm, precision: 1) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3" class="empty-state">No heatmap data found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render "shared/pagination" %>
  </div>
</noscript>
