<%
  current_page = (@current_page || 1).to_i
  total_pages = defined?(@total_pages) ? @total_pages : nil
  total_pages_known = total_pages.present?
  has_previous_page = defined?(@has_previous_page) ? @has_previous_page : current_page > 1
  has_next_page =
    if total_pages_known
      current_page < total_pages.to_i
    elsif defined?(@has_next_page)
      @has_next_page
    else
      false
    end
  show_pagination = total_pages_known ? total_pages.to_i > 1 : (has_previous_page || has_next_page)
%>
<% if show_pagination %>
  <nav class="pagination" aria-label="Pagination">
    <% previous_params = request.query_parameters.merge(page: current_page - 1).compact %>
    <% next_params = request.query_parameters.merge(page: current_page + 1).compact %>
    <%
      previous_url =
        begin
          url_for(previous_params)
        rescue ActionController::UrlGenerationError
          "?#{previous_params.to_query}"
        end
      next_url =
        begin
          url_for(next_params)
        rescue ActionController::UrlGenerationError
          "?#{next_params.to_query}"
        end
    %>

    <% if has_previous_page %>
      <%= link_to "Prev", previous_url, class: "pagination-link", rel: "prev" %>
    <% else %>
      <span class="pagination-link disabled" aria-disabled="true">Prev</span>
    <% end %>

    <% if total_pages_known %>
      <span class="pagination-status">Page <%= current_page %> of <%= total_pages %></span>
    <% else %>
      <span class="pagination-status">Page <%= current_page %></span>
    <% end %>

    <% if has_next_page %>
      <%= link_to "Next", next_url, class: "pagination-link", rel: "next" %>
    <% else %>
      <span class="pagination-link disabled" aria-disabled="true">Next</span>
    <% end %>
  </nav>
<% end %>
