<% content_for :title, "Identities" %>
<% content_for :turbo_cache_control, "no-cache" %>

<h1>MAC Identity Inventory</h1>

<p>
  <%= link_to "Inventory CSV", inventory_identities_path(@inventory_query_parameters.merge(format: :csv)) %>
  |
  <%= link_to "Inventory JSON", inventory_identities_path(@inventory_query_parameters.merge(format: :json)) %>
</p>

<% if @identities.any? %>
  <%= svelte_props_tag("identities-svelte-root", initial: {
    rows: @identities.as_json(
      only: %i[source_mac bssid destination_bssid ssid signal_dbm location_id username registered_username
               display_name device_id wps_device_name wps_model_name device_fingerprint
               first_occurred_at last_occurred_at]
    ),
    totalCount: @total_count,
    currentPage: @current_page,
    perPage: @per_page,
    sortKey: @sort,
    sortDirection: @direction,
    query: @query,
    filters: parsed_grid_filters,
    endpoints: {
      index: identities_path
    }
  }) %>
<% else %>
  <%= svelte_props_tag("identities-svelte-root", initial: {
    rows: [],
    totalCount: @total_count,
    currentPage: @current_page,
    perPage: @per_page,
    sortKey: @sort,
    sortDirection: @direction,
    query: @query,
    filters: parsed_grid_filters,
    endpoints: {
      index: identities_path
    }
  }) %>
<% end %>
<div id="identities-svelte-root"></div>
<%= svelte_bundle_tags(:identities) %>